/* scaffold */
.site_width {
  width: 100%;
}

.content_width {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.bg_e2e2e2 {
  background-color: #e2e2e2;
}

.bg_f7f7f7 {
  background: #f7f7f7;
}

.bg_fff {
  background: #fff;
}

.bg_63CCCA {
  background: #63CCCA;
}

.cl_fff {
  color: #fff;
}

.cl_55C1BF {
  color: #55C1BF;
}

.cl_F16EAA {
  color: #F16EAA;
}

.cl_95989A {
  color: #95989A;
}

.cl_F16EAA {
  color: #F16EAA;
}

.shop_area {
  padding: 0 40px;
}

.shop_area {
  padding: 0 5px;
}

/*  product item */
