/* scaffold */
.site_width {
  width: 100%;
}

.content_width {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.bg_e2e2e2 {
  background-color: #e2e2e2;
}

.bg_f7f7f7 {
  background: #f7f7f7;
}

.bg_fff {
  background: #fff;
}

.bg_63CCCA {
  background: #63CCCA;
}

.cl_fff {
  color: #fff;
}

.cl_55C1BF {
  color: #55C1BF;
}

.cl_F16EAA {
  color: #F16EAA;
}

.cl_95989A {
  color: #95989A;
}

.cl_F16EAA {
  color: #F16EAA;
}

.cl_95989A {
  color: #95989A;
}

.cl_7E7E7E {
  color: #7E7E7E;
}

.shop_area {
  padding: 0 40px;
}

.shop_area {
  padding: 0 5px;
}

/*  product item */
.product_item_block {
  width: 33.3%;
  float: left;
  padding: 0 10px 20px;
}

.product_item_block .product_item {
  width: 100%;
  border: 1px solid #eaeaea;
}

.product_item_block .product_item .btn_buy {
  border-radius: 16px;
  border: 1px solid #63CCCA;
  color: #63CCCA;
  padding: 4px 12px;
}

.product_item_block .product_item .b_eaeaea {
  border: 1px solid #eaeaea;
}

@media screen and (max-width: 768px) {
  .product_item_block {
    width: 50%;
  }
}
