/* scaffold */
.site_width {
	width: 100%;
}

.content_width {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

// bg
.bg_e2e2e2 {
	background-color: #e2e2e2;
}
.bg_f7f7f7{
    background: #f7f7f7;
}
.bd_fff{
	background: #fff;
}
//color
.cl_55C1BF{
	color: #55C1BF;
}


.shop_area{
    padding:0 40px;
}

//media 768

.shop_area{
    padding:0 5px;
}


/*  product item */
.product_item_block{

}
