html, body{
  height: 100%;
  nav{
      background: #63ccca;
      padding: 10px;
  }
  header{
      padding: 10px;
      .header_top{
          background: lightgreen;
      }
  }
  .page_info{

  }
  .page_products{


  }
  .page_comment{

  }
  .page_topics{

  }
  .page_viewed{

  }
  footer{
      
  }
}
