html, body{
  height: 100%;
  nav{
      background: #63ccca;
      padding: 10px;
  }
  header{
      padding: 10px;
      .header_top{
          background: lightgreen;
      }
    //   .header_set_position{
    //       position: relative;;;
    //       right: 0;
    //       top: 0;
    //   }

  }

  .page_slider{
        .bx-wrapper .bx-caption{
            font-size: 24px;
            background: rgba(80, 80, 80, 0);
        }
  }

  .page_info{

  }
  .page_products{
      height: 100%;
      a{
          color: #000;
      }
      .product_sidebar{
          width: 200px;
          margin-left: 30px;
          float: left;
          .sidebar_list{
              .sidebar_item{
                  .category_link{
                      width: 135px;
                      display: block;
                      border-bottom: 1px solid #000;
                      padding-bottom: 5px;
                      padding-left: 5px;
                  }
                  .category_link:hover{
                      color: #63CCCA;
                  }
              }
          }

      }
      .product_cool_design{
          width: 100%;
        margin-top: 40px;
        padding-right: 10px;
        padding-left: 230px;
        .product_list{
            width: 100%;

        }
        .link_more{
            margin-right: 50px;
            color: #7E7E7E!important
        }

      }

    //   .product_preorder{
    //       margin-right: 468px;
    //       margin-top: 50px;
    //   }

  }
  .page_comment{
        .avg_score{
            border-top: 1px solid #F16EAA;
            border-bottom: 1px solid #F16EAA;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 60%;
        }
  }
  .page_topics{
      .b_eaeaea{
          border: 1px solid #eaeaea;
      }
      .topic_title {
          color: #95989A;
          padding-bottom: 10px;
          border-bottom: 1px solid #000;
          margin: 20px 20px 0 20px;
      }
      .topic_link{
          background: #63ccca;
          color: #fff;
          width: 80%;
          margin-bottom: 20px;
      }
      .topics_recommend{
          width: 30%;
          display: inline-block;
          border: 1px solid #eaeaea;
          text-align: center;
          margin-right: 20px;
      }
  }
  .page_viewed{

  }
  footer{
      width: 100%;
    background: #f7f7f7;
    float: right;

    //   .customer_service{
    //       margin-top: -52px;
    //   }
    //   .breaking_news{
    //       margin-top: -77px;
    //   }
    //   .get_discount{
    //       width: 24%;
    //       margin-top: -80px;
    //       .btn_subscribe{
    //           position: relative;
    //           right: 4px;
    //           top: -2px;
    //       }
    //   }

  }
}

// push content
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#mainPage {
    transition: margin-left .5s;
    // padding: 16px;
}


// mobile
@media screen and (max-width:768px) {
    .mb_d_no{
        display: none!important;
    }
    .mb_d_ib{
        display: inline-block!important;
    }
    .mb_d_bl{
        display: block!important;
    }
    .page_products{
        .product_cool_design{
            // width: 100%;
            //   margin-top: 40px;
            //   padding-right: 0px;
              padding-left: 20px!important;
        }
    }

    .page_topics{
        .topics_recommend{
            padding-left: 20px;
            width: 100%!important;
            margin-bottom: 40px;
        }
    }
    .page_bottom{
        .mb_center{
            text-align: center;
        }
        .customer_service{
            line-height: 35px;
            margin-bottom: 20px;
        }
        .buy_cool_design{
            line-height: 35px;
            margin-bottom: 20px;
        }
        .breaking_news{
            line-height: 35px;
            margin-bottom: 20px;
        }
        .get_discount{
            line-height: 35px;
            margin-bottom: 20px;
            .input_discount{
                width: 50%;
            }
            .btn_subscribe{
                width: 25%;
            }
        }
    }
}
